.calculator{
    width: 50%; height: auto;

    padding: 10px;
    
}
.calculator {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.calculator > input{
    width: 60%;


    font-size: 20px;
    color: gray;


    padding: 10px;
    border: 1px solid black;
}

.checkboxConteiner{
    display: flex;
    gap: 10px;

    margin: 10px 0;
}
button{
    width: 60%;

    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    font-weight: 420;
    color: white;
    
    padding: 10px;
    border-radius: 15px;

    background-color: rgb(45, 184, 45);
    
}
button:hover{
    transition: 0.7s;
    background-color: green;
    color: rgb(255, 255, 255);

}