header{
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
}
header> span{
    font-size: 20px;
    font-weight: 520;

    color: rgb(29, 170, 33);
    margin-left: 3%;
}
